* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --color: rgb(191, 2, 2);
    --green: green;
    --gray: gray;
    --brown: brown;
    --blue: rgb(1, 1, 74);
    --white: white;

}
.header{
    width:100%;
    height:100%;
    position: relative;

}
.banner {
    width: 100%;
    height:70vh;
    position: relative;

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-item span {
    font-size:20px;
    margin-left: 20px;
}

.product-topic{
    position: absolute;
    top:40%;
    left:40%;
    z-index:2;
    color:var(--white);
    font-family: 'Poppins', sans-serif;
}
.product-topic h1{
    font-size:55px;
}
.product-topic h5{
    font-size:25px;
}
.sample{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height:auto;
    padding:5%;
    font-family: 'Poppins', sans-serif;
    margin-top:50px;

}
.sample-1{
    width:47%;
    height:450px;
    position: relative;
   
}

.add-one{
     position: absolute;
     width:80%;
     height:80%;
     left:0%;
     top:0%;
     background-color:rgb(195, 25, 25);
     z-index:0;
  
     
}
.sample-1 img{
   width:85%;
   position: absolute;
   height:85%;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   object-fit: cover;
   right: 0;
   bottom:0;
   z-index: 1;
}
.sample-1 h2{
    font-weight: bold;
    color:rgb(65,64,64);
    margin-bottom:20px;
}
.sample-1 span{
    color:var(--color);
    font-size:30px;
}
.sample-1 p{
    margin-bottom:20px;
}
.sample-1 h3{
    font-weight:bold;
    color:rgb(65,64,64);
    margin-bottom:15px;

}

.sample-1 ul li::marker{
       color: var(--color);
       font-size:25px;
}
.sample-1 ul a{
    text-decoration:none;
    font-size:23px;
    color:rgb(21,25,29);
}
.box-content{
    text-align: center;
    position: relative;

    
}
.line-1{
    width: 190px;
    border-bottom: 4px solid rgb(191, 2, 2);
    height: 0px;
    top: 40px;
    left:40%;
    position: absolute;

}
.box-content h1{
    font-size:30px;
    font-weight:bold;
    color:rgb(76, 75, 75);
    font-family: 'Poppins', sans-serif;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding:4%;

}
.box-section-1{
    width:25%;
    height:400px;
    position: relative;
    overflow: hidden;
    margin-bottom:30px;
}
.box-section-1 img{
    width:100%;
    height:100%;
    object-fit: cover;
  
}
.box-section-1 h2{
    text-align:center;
    font-size:22px;
    margin-bottom:0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color:var(--color);
    position: absolute;
    bottom:0;

    width:100%;
    background-color:white;
}
.box-para{
    position: absolute;
    top:100%;
    left:0;
    right: 0;
    display:flex;
    flex-direction: column;
    width:100%;
    text-align: center;
    height:100%;
    justify-content: center;
    align-items: center;
    transition:2s;
    background-color:rgb(121, 30, 30);
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

    
}
.box-section-1:hover .box-para {
    top:0;
}

.product-section{
    display: flex;
    justify-content: space-evenly;
    padding:3%;
    width:100%;
    height:auto;
    font-family: 'Poppins', sans-serif;
}

.product-section-1{
    width:47%;
    height:350px;
}
.product-section-1 h2{
    margin-bottom:15px;
    font-weight: bold;
    color:rgb(76,75,75);
}
.product-section-1 img{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:20px;
    
}
.product-section-1 p{
    margin-bottom:20px;
}
.product-section-1 ul li::marker{
      color: var(--color);
      font-size:25px;
}

.product-section-1 img:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.blinking{
    position: fixed;
    bottom:10px;
    left:10px;
    padding:10px;
    border:none;
    cursor: pointer;
    opacity:70%;
    z-index:12;
}
.blick{
    width:50px;
    height:50px;
    border-radius:50%;

}
.blinking .blick img{
    width:100%;
    animation: blink 2s linear infinite;
    border-radius:50%;
    opacity:100%;
}

@keyframes blink{
    0% {
        box-shadow:
           0 0 0 0.7rem var(--green),
           0 0 0 1rem var(--green),
           0 0 0 5rem var(--green), ;
    }
    100% {
        box-shadow: 
           0 0 0 1rem var(--green),
           0 0 0 3rem var(--green),
           0 0 0 5rem var (--green), ;

    }
}














@media screen and (max-width:320px){
    .header{
        width:100%;
        height:100%;
        position: relative;
    
    }
    .banner {
        width: 100%;
        height:75vh;
        position: relative;
    
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-topic{
        position: absolute;
        top:35%;
        left:18%;
        z-index:2;
        color:var(--white);
        font-family: 'Poppins', sans-serif;
    }
    .product-topic h1{
        font-size:40px;
    }
    .product-topic h5{
        font-size:25px;
    }
    .sample{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:auto;
        padding:5%;
        font-family: 'Poppins', sans-serif;
        margin-top:50px;
        margin-bottom:20%;
    }
    .sample-1{
        width:100%;
        height:480px;
        position: relative;
        margin-bottom:40px;
       
    }
    .add-one{
         position: absolute;
         width:80%;
         height:80%;
         left:0%;
         top:0%;
         background-color:rgb(195, 25, 25);
         z-index:0;
      
         
    }
    .sample-1 img{
       width:85%;
       position: absolute;
       height:85%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
       object-fit: cover;
       right: 0;
       bottom:0;
       z-index: 1;
       margin-bottom:20px;
    }
    .sample-1 h2{
        font-weight: bold;
        color:rgb(65,64,64);
        margin-bottom:20px;
    }
    .sample-1 span{
        color:var(--color);
        font-size:30px;
    }
    .sample-1 p{
        margin-bottom:20px;
    }
    .sample-1 h3{
        font-weight:bold;
        color:rgb(65,64,64);
        margin-bottom:15px;
    
    }
    
    .sample-1 ul li::marker{
           color: var(--color);
           font-size:25px;
    }
    .box-content{
        text-align: center;
        position: relative;

    }
    .line-1{
        width: 190px;
        border-bottom: 4px solid rgb(191, 2, 2);
        height: 0px;
        top:35px;
        left:8%;
        position: absolute;
    
    }
    .box-content h1{
        font-size:30px;
        font-weight:bold;
        color:rgb(76, 75, 75);
        font-family: 'Poppins', sans-serif;
    }
    .box{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        padding:4%;
    
    }
    .box-section-1{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
    }
    .box-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
    .box-section-1 h2{
        text-align:center;
        font-size:22px;
        margin-bottom:0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:var(--color);
        position: absolute;
        bottom:0; 
    
        width:100%;
        background-color:white;
    }
    .box-para{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        transition:2s;
        background-color:rgb(121, 30, 30);
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    
        
    }
    .box-section-1:hover .box-para {
        top:0;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:3%;
        width:100%;
        height:auto;
        font-family: 'Poppins', sans-serif;
        margin-bottom:40%;
    }
    
    .product-section-1{
        width:100%;
        height:350px;
        margin-bottom:30px;
    }
    .product-section-1 h2{
        margin-bottom:15px;
        font-weight: bold;
        color:rgb(76,75,75);
        font-size:22px;
    }
    .product-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:20px;
     
        
    }
    .product-section-1 p{
        margin-bottom:20px;
    }
    .product-section-1 ul li::marker{
          color: var(--color);
          font-size:25px;
    }
    
    .product-section-1 img:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    
    
    





}
@media screen and (min-width:321px) and (max-width:375px){
    .header{
        width:100%;
        height:100%;
        position: relative;
    
    }
    .banner {
        width: 100%;
        height:75vh;
        position: relative;
    
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-topic{
        position: absolute;
        top:30%;
        left:25%;
        z-index:2;
        color:var(--white);
        font-family: 'Poppins', sans-serif;
    }
    .product-topic h1{
        font-size:50px;
    }
    .product-topic h5{
        font-size:25px;
    }
    .sample{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:auto;
        padding:5%;
        font-family: 'Poppins', sans-serif;
        margin-top:50px;
    }
    .sample-1{
        width:100%;
        height:480px;
        position: relative;
       
    }
    .add-one{
         position: absolute;
         width:80%;
         height:80%;
         left:0%;
         top:0%;
         background-color:rgb(195, 25, 25);
         z-index:0;
      
         
    }
    .sample-1 img{
       width:85%;
       position: absolute;
       height:85%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
       object-fit: cover;
       right: 0;
       bottom:0;
       z-index: 1;
       margin-bottom:20px;
    }
    .sample-1 h2{
        font-weight: bold;
        color:rgb(65,64,64);
        margin-bottom:20px;
    }
    .sample-1 span{
        color:var(--color);
        font-size:30px;
    }
    .sample-1 p{
        margin-bottom:20px;
    }
    .sample-1 h3{
        font-weight:bold;
        color:rgb(65,64,64);
        margin-bottom:15px;
    
    }
    
    .sample-1 ul li::marker{
           color: var(--color);
           font-size:25px;
    }
    .box-content{
        text-align: center;
        position: relative;

    }
    .line-1{
        width: 190px;
        border-bottom: 4px solid rgb(191, 2, 2);
        height: 0px;
        top:35px;
        left:6%;
        position: absolute;
    
    }
    .box-content h1{
        font-size:30px;
        font-weight:bold;
        color:rgb(76, 75, 75);
        font-family: 'Poppins', sans-serif;
    }
    .box{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        padding:4%;
    
    }
    .box-section-1{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
    }
    .box-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
    .box-section-1 h2{
        text-align:center;
        font-size:22px;
        margin-bottom:0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:var(--color);
        position: absolute;
        bottom:0;
    
        width:100%;
        background-color:white;
    }
    .box-para{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        transition:2s;
        background-color:rgb(121, 30, 30);
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    
        
    }
    .box-section-1:hover .box-para {
        top:0;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:3%;
        width:100%;
        height:auto;
        font-family: 'Poppins', sans-serif;
        
    }
    
    .product-section-1{
        width:100%;
        height:350px;
        margin-bottom:30px;
    }
    .product-section-1 h2{
        margin-bottom:15px;
        font-weight: bold;
        color:rgb(76,75,75);
        font-size:22px;
    }
    .product-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:20px;
     
        
    }
    .product-section-1 p{
        margin-bottom:20px;
    }
    .product-section-1 ul li::marker{
          color: var(--color);
          font-size:25px;
    }
    
    .product-section-1 img:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    
  







}

@media screen and (min-width:376px) and (max-width:425px){
    .header{
        width:100%;
        height:100%;
        position: relative;
    
    }
    .banner {
        width: 100%;
        height:75vh;
        position: relative;
    
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-topic{
        position: absolute;
        top:35%;
        left:30%;
        z-index:2;
        color:var(--white);
        font-family: 'Poppins', sans-serif;
    }
    .product-topic h1{
        font-size:50px;
    }
    .product-topic h5{
        font-size:25px;
    }
    .sample{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:auto;
        padding:5%;
        font-family: 'Poppins', sans-serif;
        margin-top:50px;
    }
    .sample-1{
        width:100%;
        height:480px;
        position: relative;
       
    }
    .add-one{
         position: absolute;
         width:80%;
         height:80%;
         left:0%;
         top:0%;
         background-color:rgb(195, 25, 25);
         z-index:0;
      
         
    }
    .sample-1 img{
       width:85%;
       position: absolute;
       height:85%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
       object-fit: cover;
       right: 0;
       bottom:0;
       z-index: 1;
       margin-bottom:20px;
    }
    .sample-1 h2{
        font-weight: bold;
        color:rgb(65,64,64);
        margin-bottom:20px;
    }
    .sample-1 span{
        color:var(--color);
        font-size:30px;
    }
    .sample-1 p{
        margin-bottom:20px;
    }
    .sample-1 h3{
        font-weight:bold;
        color:rgb(65,64,64);
        margin-bottom:15px;
    
    }
    
    .sample-1 ul li::marker{
           color: var(--color);
           font-size:25px;
    }
    .box-content{
        text-align: center;
        position: relative;

    }
    .line-1{
        width: 190px;
        border-bottom: 4px solid rgb(191, 2, 2);
        height: 0px;
        top:35px;
        left:8%;
        position: absolute;
    
    }
    .box-content h1{
        font-size:30px;
        font-weight:bold;
        color:rgb(76, 75, 75);
        font-family: 'Poppins', sans-serif;
    }
    .box{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        padding:4%;
    
    }
    .box-section-1{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
    }
    .box-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
    .box-section-1 h2{
        text-align:center;
        font-size:22px;
        margin-bottom:0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:var(--color);
        position: absolute;
        bottom:0;
    
        width:100%;
        background-color:white;
    }
    .box-para{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        transition:2s;
        background-color:rgb(121, 30, 30);
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    
        
    }
    .box-section-1:hover .box-para {
        top:0;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:3%;
        width:100%;
        height:auto;
        font-family: 'Poppins', sans-serif;
    }
    
    .product-section-1{
        width:100%;
        height:350px;
        margin-bottom:30px;
    }
    .product-section-1 h2{
        margin-bottom:15px;
        font-weight: bold;
        color:rgb(76,75,75);
        font-size:22px;
    }
    .product-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:20px;
     
        
    }
    .product-section-1 p{
        margin-bottom:20px;
    }
    .product-section-1 ul li::marker{
          color: var(--color);
          font-size:25px;
    }
    
    .product-section-1 img:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    




}

@media screen and (min-width:426px) and (max-width:600px){
    .header{
        width:100%;
        height:100%;
        position: relative;
    
    }
    .banner {
        width: 100%;
        height:75vh;
        position: relative;
    
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-topic{
        position: absolute;
        top:35%;
        left:25%;
        z-index:2;
        color:var(--white);
        font-family: 'Poppins', sans-serif;
    }
    .product-topic h1{
        font-size:50px;
    }
    .product-topic h5{
        font-size:25px;
    }
    .sample{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:auto;
        padding:5%;
        font-family: 'Poppins', sans-serif;
        margin-top:50px;
    }
    .sample-1{
        width:100%;
        height:480px;
        position: relative;
       
    }
    .swap{
     
        height:auto !important;
    }
    .add-one{
         position: absolute;
         width:80%;
         height:80%;
         left:0%;
         top:0%;
         background-color:rgb(195, 25, 25);
         z-index:0;
      
         
    }
    .sample-1 img{
       width:85%;
       position: absolute;
       height:85%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
       object-fit: cover;
       right: 0;
       bottom:0;
       z-index: 1;
       margin-bottom:20px;
    }
    .sample-1 h2{
        font-weight: bold;
        color:rgb(65,64,64);
        margin-bottom:20px;
    }
    .sample-1 span{
        color:var(--color);
        font-size:30px;
    }
    .sample-1 p{
        margin-bottom:20px;
    }
    .sample-1 h3{
        font-weight:bold;
        color:rgb(65,64,64);
        margin-bottom:15px;
    
    }
    
    .sample-1 ul li::marker{
           color: var(--color);
           font-size:25px;
    }
    .box-content{
        text-align: center;
        position: relative;

    }
    .line-1{
        width: 190px;
        border-bottom: 4px solid rgb(191, 2, 2);
        height: 0px;
        top:35px;
        left:18%;
        position: absolute;
    
    }
    .box-content h1{
        font-size:30px;
        font-weight:bold;
        color:rgb(76, 75, 75);
        font-family: 'Poppins', sans-serif;
    }
    .box{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        padding:4%;
    
    }
    .box-section-1{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
    }
    .box-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
    .box-section-1 h2{
        text-align:center;
        font-size:22px;
        margin-bottom:0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:var(--color);
        position: absolute;
        bottom:0;
    
        width:100%;
        background-color:white;
    }
    .box-para{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        transition:2s;
        background-color:rgb(121, 30, 30);
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    
        
    }
    .box-section-1:hover .box-para {
        top:0;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:3%;
        width:100%;
        height:auto;
        font-family: 'Poppins', sans-serif;
    }
    
    .product-section-1{
        width:100%;
        height:350px;
        margin-bottom:30px;
    }
    .product-section-1 h2{
        margin-bottom:15px;
        font-weight: bold;
        color:rgb(76,75,75);
        font-size:22px;
    }
    .product-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:20px;
     
        
    }
    .product-section-1 p{
        margin-bottom:20px;
    }
    .product-section-1 ul li::marker{
          color: var(--color);
          font-size:25px;
    }
    
    .product-section-1 img:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    


}

@media screen and (min-width:601px) and (max-width:768px){

    .header{
        width:100%;
        height:100%;
        position: relative;
    
    }
    .banner {
        width: 100%;
        height:75vh;
        position: relative;
    
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-topic{
        position: absolute;
        top:40%;
        left:30%;
        z-index:2;
        color:var(--white);
        font-family: 'Poppins', sans-serif;
    }
    .product-topic h1{
        font-size:50px;
    }
    .product-topic h5{
        font-size:25px;
    }
    .sample{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:auto;
        padding:5%;
        font-family: 'Poppins', sans-serif;
        margin-top:50px;
    }
    .sample-1{
        width:100%;
        height:480px;
        position: relative;
       
    }
    .swap{
        height:auto !important;
    }
    .add-one{
         position: absolute;
         width:80%;
         height:80%;
         left:0%;
         top:0%;
         background-color:rgb(195, 25, 25);
         z-index:0;
      
         
    }
    .sample-1 img{
       width:85%;
       position: absolute;
       height:85%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
       object-fit: cover;
       right: 0;
       bottom:0;
       z-index: 1;
       margin-bottom:20px;
    }
    .sample-1 h2{
        font-weight: bold;
        color:rgb(65,64,64);
        margin-bottom:20px;
    }
    .sample-1 span{
        color:var(--color);
        font-size:30px;
    }
    .sample-1 p{
        margin-bottom:20px;
    }
    .sample-1 h3{
        font-weight:bold;
        color:rgb(65,64,64);
        margin-bottom:15px;
    
    }
    
    .sample-1 ul li::marker{
           color: var(--color);
           font-size:25px;
    }
    .box-content{
        text-align: center;
        position: relative;

    }
    .line-1{
        width: 190px;
        border-bottom: 4px solid rgb(191, 2, 2);
        height: 0px;
        top:35px;
        left:15%;
        position: absolute;
    
    }
    .box-content h1{
        font-size:30px;
        font-weight:bold;
        color:rgb(76, 75, 75);
        font-family: 'Poppins', sans-serif;
    }
    .box{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        padding:4%;
    
    }
    .box-section-1{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
    }
    .box-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
    .box-section-1 h2{
        text-align:center;
        font-size:22px;
        margin-bottom:0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:var(--color);
        position: absolute;
        bottom:0;
    
        width:100%;
        background-color:white;
    }
    .box-para{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        transition:2s;
        background-color:rgb(121, 30, 30);
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    
        
    }
    .box-section-1:hover .box-para {
        top:0;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:3%;
        width:100%;
        height:auto;
        font-family: 'Poppins', sans-serif;
    }
    
    .product-section-1{
        width:100%;
        height:350px;
        margin-bottom:30px;
    }
    .product-section-1 h2{
        margin-bottom:15px;
        font-weight: bold;
        color:rgb(76,75,75);
        font-size:22px;
    }
    .product-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:20px;
     
        
    }
    .product-section-1 p{
        margin-bottom:20px;
    }
    .product-section-1 ul li::marker{
          color: var(--color);
          font-size:25px;
    }
    
    .product-section-1 img:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    







}

@media screen and (min-width:769px) and (max-width:900px){
    .header{
        width:100%;
        height:100%;
        position: relative;
    
    }
    .banner {
        width: 100%;
        height:75vh;
        position: relative;
    
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-topic{
        position: absolute;
        top:40%;
        left:30%;
        z-index:2;
        color:var(--white);
        font-family: 'Poppins', sans-serif;
    }
    .product-topic h1{
        font-size:50px;
    }
    .product-topic h5{
        font-size:25px;
    }
    .sample{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height:auto;
        padding:5%;
        font-family: 'Poppins', sans-serif;
        margin-top:50px;
    }
    .sample-1{
        width:100%;
        height:480px;
        position: relative;
       
    }
    .swap{
        height:auto !important;
    }
    .add-one{
         position: absolute;
         width:80%;
         height:80%;
         left:0%;
         top:0%;
         background-color:rgb(195, 25, 25);
         z-index:0;
      
         
    }
    .sample-1 img{
       width:85%;
       position: absolute;
       height:85%;
       box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
       object-fit: cover;
       right: 0;
       bottom:0;
       z-index: 1;
       margin-bottom:20px;
    }
    .sample-1 h2{
        font-weight: bold;
        color:rgb(65,64,64);
        margin-bottom:20px;
    }
    .sample-1 span{
        color:var(--color);
        font-size:30px;
    }
    .sample-1 p{
        margin-bottom:20px;
    }
    .sample-1 h3{
        font-weight:bold;
        color:rgb(65,64,64);
        margin-bottom:15px;
    
    }
    
    .sample-1 ul li::marker{
           color: var(--color);
           font-size:25px;
    }
    .box-content{
        text-align: center;
        position: relative;

    }
    .line-1{
        width: 190px;
        border-bottom: 4px solid rgb(191, 2, 2);
        height: 0px;
        top:35px;
        left:17%;
        position: absolute;
    
    }
    .box-content h1{
        font-size:30px;
        font-weight:bold;
        color:rgb(76, 75, 75);
        font-family: 'Poppins', sans-serif;
    }
    .box{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        padding:4%;
    
    }
    .box-section-1{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
    }
    .box-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
    .box-section-1 h2{
        text-align:center;
        font-size:22px;
        margin-bottom:0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:var(--color);
        position: absolute;
        bottom:0;
    
        width:100%;
        background-color:white;
    }
    .box-para{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        transition:2s;
        background-color:rgb(121, 30, 30);
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    
        
    }
    .box-section-1:hover .box-para {
        top:0;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:3%;
        width:100%;
        height:auto;
        font-family: 'Poppins', sans-serif;
    }
    
    .product-section-1{
        width:100%;
        height:350px;
        margin-bottom:30px;
    }
    .product-section-1 h2{
        margin-bottom:15px;
        font-weight: bold;
        color:rgb(76,75,75);
        font-size:22px;
    }
    .product-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:20px;
     
        
    }
    .product-section-1 p{
        margin-bottom:20px;
    }
    .product-section-1 ul li::marker{
          color: var(--color);
          font-size:25px;
    }
    
    .product-section-1 img:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    



  


}

@media screen and (min-width:901px) and (max-width:992px){
    .header{
        width:100%;
        height:100%;
        position: relative;
    
    }
    .banner {
        width: 100%;
        height:75vh;
        position: relative;
    
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-topic{
        position: absolute;
        top:40%;
        left:30%;
        z-index:2;
        color:var(--white);
        font-family: 'Poppins', sans-serif;
    }
    .product-topic h1{
        font-size:50px;
    }
    .product-topic h5{
        font-size:25px;
    }
    .box-content{
        text-align: center;
        position: relative;

    }
    .line-1{
        width: 190px;
        border-bottom: 4px solid rgb(191, 2, 2);
        height: 0px;
        top:35px;
        left:20%;
        position: absolute;
    
    }
    .box-content h1{
        font-size:30px;
        font-weight:bold;
        color:rgb(76, 75, 75);
        font-family: 'Poppins', sans-serif;
    }
    .box{
        display: flex;
        flex-direction:column;
        justify-content:space-evenly;
        padding:4%;
    
    }
    .box-section-1{
        width:100%;
        height:400px;
        position: relative;
        overflow: hidden;
        margin-bottom:30px;
    }
    .box-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
      
    }
    .box-section-1 h2{
        text-align:center;
        font-size:22px;
        margin-bottom:0;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color:var(--color);
        position: absolute;
        bottom:0;
    
        width:100%;
        background-color:white;
    }
    .box-para{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        display:flex;
        flex-direction: column;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
        transition:2s;
        background-color:rgb(121, 30, 30);
        color:white;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    
        
    }
    .box-section-1:hover .box-para {
        top:0;
    }
    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding:3%;
        width:100%;
        height:auto;
        font-family: 'Poppins', sans-serif;
    }
    
    .product-section-1{
        width:100%;
        height:350px;
        margin-bottom:30px;
    }
    .product-section-1 h2{
        margin-bottom:15px;
        font-weight: bold;
        color:rgb(76,75,75);
        font-size:22px;
    }
    .product-section-1 img{
        width:100%;
        height:100%;
        object-fit: cover;
        border-radius:20px;
     
        
    }
    .product-section-1 p{
        margin-bottom:20px;
    }
    .product-section-1 ul li::marker{
          color: var(--color);
          font-size:25px;
    }
    
    .product-section-1 img:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    






}

@media screen and (min-width:993px) and (max-width:1024px){

    .nav-item span {
        font-size:15px;
        margin-left: 20px;
    }




}